<div id="canais" class="col-lg-12 col-md-12 panel">
    <div class="panel-heading" role="tab" id="heading-canais">
        <div class="secao-icone"></div>
        <div class="secao-titulo-nome">
            <a class="visible-xs" role="button" data-parent="#row-2-portal" data-toggle="collapse" href="#collapse-canais" aria-expanded="false" aria-controls="collapse-canais"> 
                CANAIS
                <i class="visible-xs more-less glyphicon glyphicon-plus"></i>
            </a>

            <div class="hidden-xs">CANAIS</div>
        </div>
        <div id="collapse-canais" class="row collapse-secao collapse in" role="tabpanel" aria-labelledby="heading-canais" style="margin-top: 15px; font-size: 15px; margin-left: 15px;">
            <div class="row panel-group" id="panel-canais" role="tablist" aria-multiselectable="true">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="padding: 0px 0px 0px 16px">
                    <div class="panel">
                        <div class="visible-xs panel-heading" role="tab" id="heading-comites">
                            <div class="div_canal_titulo">
                                <a role="button" data-toggle="collapse" data-parent="#panel-canais" href="#collapse-comites" aria-expanded="true" aria-controls="collapse-comites">
                                    COMITÊS / COMISSÕES <span class="caret"></span>
                                </a>
                            </div>
                        </div>
                        <div class="hidden-xs div_canal_titulo">COMITÊS / COMISSÕES</div>
                        <ul class="ul_canal_links collapse-secao panel-collapse collapse in" id="collapse-comites" role="tabpanel" aria-labelledby="heading-comites">
                            <li><a href="http://www.uel.br/comites/ceua/">CEUA</a></li>
                            <li><a href="http://www.uel.br/comites/cepesh">CEP-UEL</a></li>
                            <li><a href="http://www.uel.br/cipa">CIPA</a></li>
                            <li><a href="http://www.uel.br/cpa">CPA</a></li>
                            <li><a href="http://www.uel.br/comites/cobio">Biossegurança</a></li>
                            <li><a href="http://www.uel.br/proppg/portalnovo/pages/iniciacao/cientifica-proic.php" target="_blank">PROIC</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel">
                        <div class="visible-xs panel-heading" role="tab" id="heading-programas">
                            <div class="div_canal_titulo">
                                <a role="button" data-toggle="collapse" data-parent="#panel-canais" href="#collapse-programas" aria-expanded="true" aria-controls="collapse-programas">
                                    PROGRAMAS / PLANOS <span class="caret"></span>
                                </a>
                            </div>
                        </div>
                        <div class="hidden-xs div_canal_titulo">PROGRAMAS / PLANOS</div>
                        <ul class="ul_canal_links collapse-secao panel-collapse collapse in" id="collapse-programas" role="tabpanel" aria-labelledby="heading-programas">
                            <li><a href="http://www.uel.br/programas/capacitacao">Capacitação Permanente I.A.</a></li>
                            <li><a href="http://www.uel.br/inclusaosocial">Inclusão Social</a></li>
                            
                            <li><a href="http://www.uel.br/programas/parfor">PARFOR - Plano de Ações Articuladas - Formação</a></li>
                            <li><a href="http://www.uel.br/programas/pde">PDE - Programa de Desenvolvimento Educacional</a></li>
                            <li><a href="http://www.uel.br/proplan/novo/pages/planos-institucionais/pdi.php">PDI - Plano de Desenvolvimento Institucional</a></li>
                            
                            <li><a href="http://www.uel.br/programas/reciclauel">Recicla UEL</a></li>
                            
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel">
                        <div class="visible-xs panel-heading" role="tab" id="heading-servicos">
                            <div class="div_canal_titulo">
                                <a role="button" data-toggle="collapse" data-parent="#panel-canais" href="#collapse-servicos2" aria-expanded="true" aria-controls="collapse-servicos">
                                    NÚCLEOS <span class="caret"></span>
                                </a>
                            </div>
                        </div>
                        <div class="hidden-xs div_canal_titulo">NÚCLEOS</div>
                        <ul class="ul_canal_links collapse-secao panel-collapse collapse in" id="collapse-servicos2" role="tabpanel" aria-labelledby="heading-servicos">
                            <li><a href="http://www.uel.br/cch/cdph/portal/pages/historia.php">NDPH - Núcleo de Documentação e Pesquisa Histórica</a></li>
                            <li><a href="http://www.uel.br/neab/">NEAB - Núcleo de Estudos Afro-brasileiros</a></li>
                            <li><a href="http://ead.uel.br/">NEAD - Núcleo de Educação a Distância</a></li>
                            <li><a href="http://www.uel.br/prograd/?content=nucleo_acessibilidade/index.html">NAC - Núcleo de Acessibilidade da UEL</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="panel">
                        <div class="visible-xs panel-heading" role="tab" id="heading-outros">
                            <div class="div_canal_titulo">
                                <a role="button" data-toggle="collapse" data-parent="#panel-canais" href="#collapse-outros" aria-expanded="true" aria-controls="collapse-outros">
                                    OUTROS <span class="caret"></span>
                                </a>
                            </div>
                        </div>
                        <div class="hidden-xs div_canal_titulo">OUTROS </div>
                        <ul class="ul_canal_links collapse-secao panel-collapse collapse in" id="collapse-outros" role="tabpanel" aria-labelledby="heading-outros">
                            <li><a href="http://www.uel.br/ati/suporte/pages/servicos-de-rede-na-uel.php">Suporte a Rede</a></li>
                            <li><a href="http://email.uel.br">Webmail</a></li>
                            <li><a href="http://www.uel.br/com/portal/pages/contatos.php">Coordenadoria de Comunicação Social </a></li>
                        </ul>
                    </div>
                    <div id="links-com-imagem" style="margin-top: 20px;">
                        <div class="canais-imagem"><img align="center" src="<?php $_SERVER['DOCUMENT_ROOT'];?>/home/view/resources/image/logofalecomreitora32x32.gif" border="0"></div>
                        <a class="canais-titulo" href="http://www.uel.br/gabinete/portal/pages/fale-com-o-reitor.php" target="_blank">Fale com o Reitor</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>