<div class="card-header container">
    <div class="col-xs-12 col-lg-12">
        <div class="navbar-header">
            <div class="navbar-brand-outer navbar-right">
                <a href=""><div class="logo-uel"></div></a><h2><?php page_title(); ?></h2>
            </div>
        </div>
    </div>

    <div class="nav-menu estilo-navbar-drop-div col-lg-12 col-md-12">            
        <ul class="tam-ul-dropdown nav navbar-nav hidden-sm hidden-xs" style="border-left: 9px solid #5fa884; background-color: #d1decf">
            <li class="nav navbar-nav dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">UNIVERSIDADE<b class="caret"></b></a>
                <ul class="estilo-navbar-drop-ul dropdown-menu dropdown-menu-left">
                    <li><a href="#">Conheça a UEL</a></li>
                    <li><a href="#">Ouvidoria</a></li>
                    <li><a href="#">Reitoria</a></li>
                    <li><a href="#">Pró-reitorias</a></li>
                    <li><a href="#">Centros e Departamentos</a></li>
                    <li><a href="#">Prefeitura do Campus</a></li>
                    <li><a href="#">Orgãos de Apoio</a></li>
                    <li><a href="#">Orgãos Suplementares</a></li>
                    <li><a href="#">Sistema UEL</a></li>
                    <!--<li class="dropdown-submenu">
                        <a href="#">TesteSubmenu</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">submenu1</a></li>
                            <li><a href="#">submenu2</a></li>
                        </ul>
                    </li>-->
                </ul>
            </li>
            <li class="nav navbar-nav estilo-navbar-drop-li dropdown hidden-sm hidden-xs"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENSINO<b class="caret"></b></a>
                <ul class="estilo-navbar-drop-ul dropdown-menu dropdown-menu-left">
                    <li><a href="#">Graduação</a></li>
                    <li><a href="#">Pós-graduação - Especialização e Residência</a></li>
                    <li><a href="#">Pós-graduação - Mestrado e Doutorado</a></li>
                    <li><a href="#">Educação Básica</a></li>
                    <li><a href="#">Ensino profissionalizante</a></li>
                    <li><a href="#">Cursinho Pré-vestibular</a></li>
                    <li><a href="#">Educação a distância</a></li>
                    <li><a href="#">PROGRAD</a></li>
                    <li><a href="#">PROPPG</a></li>
                    <li><a href="#">PROEX</a></li>
                </ul>
            </li>
            <li class="nav navbar-nav estilo-navbar-drop-li dropdown hidden-sm hidden-xs"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">PESQUISA<b class="caret"></b></a>
                <ul class="estilo-navbar-drop-ul dropdown-menu dropdown-menu-left">
                    <li><a href="#">Programas de Pós-graduação</a></li>
                    <li><a href="#">Projetos de Pesquisa</a></li>
                    <li><a href="#">Grupos de Pesquisa</a></li>
                    <li><a href="#">Inovação e Tecnologia</a></li>
                    <li><a href="#">Laboratórios</a></li>
                    <li><a href="#">AINTEC</a></li>
                    <li><a href="#">PROPPG</a></li>
                    <li><a href="#">PROEX</a></li>
                    <li><a href="#">PROGRAD</a></li>
                </ul>
            </li>
            <li class="nav navbar-nav estilo-navbar-drop-li dropdown hidden-sm hidden-xs"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">EXTENSÃO<b class="caret"></b></a>
                <ul class="estilo-navbar-drop-ul dropdown-menu dropdown-menu-left">
                    <li><a href="#">Programas</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">PROEX</a></li>
                    <li><a href="#">PROGRAD</a></li>
                    <li><a href="#">PROPPG</a></li>
                </ul>
            </li>
            <li class="nav navbar-nav estilo-navbar-drop-li dropdown hidden-sm hidden-xs"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">SERVIÇOS<b class="caret"></b></a>
                <ul class="estilo-navbar-drop-ul dropdown-menu dropdown-menu-left">
                    <li><a href="#">Biblioteca</a></li>
                    <li><a href="#">Saúde</a></li>
                    <li><a href="#">Arte</a></li>
                    <li><a href="#">Cultura</a></li>
                    <li><a href="#">SEBEC</a></li>
                    <li><a href="#">Restaurante Universitário</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>