
<div class="col-lg-12 col-md-12 panel" id="destaques">
    <div class="panel-heading" role="tab" id="heading-destaques">
        <div class="secao-icone"></div>
        <div class="secao-titulo-nome">
            <a class="visible-xs" role="button" data-parent="#row-2-portal" data-toggle="collapse" href="#collapse-destaques" aria-expanded="false" aria-controls="collapse-destaques"> 
                DESTAQUES
                <i class="visible-xs more-less glyphicon glyphicon-plus"></i>
            </a>
            <div class="hidden-xs">DESTAQUES</div>
        </div>
    </div>
    <div id="collapse-destaques" class="row collapse-secao collapse in" role="tabpanel" aria-labelledby="heading-destaques" style="margin-top: 15px; font-family: 'Lato'; font-size: 15px;">
        <?php 
            $objDestaques->mostrarDestaques($fws_,$debug);
        ?>
    </div>
</div>