form
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.text
{
    font-size: 7.5pt;
    font-weight: bold;
    background: #F4F4F4;
    border-bottom: 1px solid #217821;
    border-right: 1px solid #217821;
    border-left: 1px solid #6DAC6D;
    border-top: 1px solid #6DAC6D;
    color: black;
    height: 17px;
    text-decoration: none;
    -moz-border-radius: 4px 6px 6px 4px;
}

.image
{
    position: relative;
    top: 4px;
}

.adiv
{
    position: relative;
    left: 15px;
}


TEXTAREA {
font-family: Verdana, sans-serif;
font-size: 11px;
background: #EEF2E6;
text-decoration:none;
font-weight : bold;
}


INPUT {
font-family: verdana, tahoma, sans-serif;
font-size:11px;
background: #EEF2E6;
text-decoration:none;
font-weight : bold;
}

INPUT.text {
font-size:11px;
color: #EEF2E6;
border-bottom: 2px solid #104A7B;
border-right: 2px solid #104A7B;
border-left: 2px solid #AFC4D5;
border-top:2px solid #AFC4D5;
text-decoration:none;
}

INPUT.button {
font-size:11px;
background: #F4F4F4;
border-bottom: 1px solid #104A7B;
border-right: 1px solid #104A7B;
border-left: 1px solid #AFC4D5;
border-top:1px solid #AFC4D5;
color:#000066;
height:19px;
text-decoration:none;
}

INPUT.checkbox {
font-size:11px;
text-decoration:none;
}

INPUT.radio {
font-size:11px;
text-decoration:none;
background: white;
}

SELECT {
font-family:verdana, tahoma,sans-serif;
font-size:11px;
background: #EEF2E6;
color:#000000;
text-decoration:none;
font-weight : bold;
}